<p class="h2 text-center text-light">Personagens</p>
<div class="marquee-container">
  <div class="marquee-content">
    <img src="../../assets/imagem-cailey.jpeg" />
    <img src="../../assets/imagem-eugene.jpeg" />
    <img src="../../assets/imagem-jonathan.jpeg" />
    <img src="../../assets/imagem-kate.jpeg" />
    <img src="../../assets/imagem-key.jpeg" />
    <img src="../../assets/imagem-loki.jpeg" />
    <img src="../../assets/imagem-owen.jpeg" />
    <img src="../../assets/imagem-sasha.jpeg" />
    <img src="../../assets/imagem-tara.jpeg" />
    <img src="../../assets/imagem-wunmi.jpeg" />
  </div>
</div>
<app-button></app-button>
