<section style="background-image: url('../../../assets/_.gif')">
  <p class="text-center h1 text-light mt-2">Série Loki</p>

  <div data-aos="zoom-in-up" data-aos-duration="2000">
    <img
      Src="../../../assets/imagem-loki.jpg"
      alt="capa da serie loki"
      class="capa__loki"
    />
  </div>

  <p class="text-center h2 mt-3 text-light">Sinopse & Informação</p>
  <div class="paragrafo__principal">
    <p>
      O spin-off segue os passos de Loki (Tom Hiddleston), mais conhecido como
      Deus da Trapaça, que conseguiu roubar o tesserato dos Vingadores durante a
      missão de recuperar as Joias do Infinito.
    </p>
  </div>
   <app-marquee></app-marquee>
</section>
